* {
margin: 0;
padding: 0;
}

header {
    background-color: cyan;
}

h1 {
    color: red;
    text-align: center;
}

section {
    text-align: center;
}

h2 {
    margin-top: 123px;
}

button {
    margin-top: 200px;
}

a {background-color: lime;
}

footer {background-color: cyan;
    margin-top: 200px;
}

h3 {
    color: red;
    text-align: center;
}